@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

.headContainer {
  height: 7.5vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 80vw;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.navTags {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navTags li {
  padding: 0rem 1rem;
}
.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social li {
  padding: 0rem 1rem;
}

.heroSection {
  height: 32.5vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSection img {
  height: 5rem;
}
.heroSection div {
  font-size: 2.5rem;
  /* font-weight: 300; */
  color: rgb(156, 156, 156);
}

main {
  display: grid;
  grid-template-rows: 60vh 50vh 50vh;
}
/* .intro {
  background-color: rgb(172, 14, 14);
}
.mid {
  background-color: rgb(14, 88, 172);
}
.ending {
  background-color: rgb(40, 172, 14);
} */

.introContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
}
.intro {
  width: 80vw;
  padding: 3rem 0rem 5rem 0rem;
  display: flex;
  justify-content: space-between;
}
.intro > img {
  width: auto;
  height: 100%;
}

.intro article {
  padding: 3rem;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
  align-content: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.intro article > h3 {
  color: rgb(22, 180, 253);
  font-size: 2rem;
  align-self: flex-end;
}
.intro article h2 {
  font-weight: 800;
  font-size: 4rem;
  align-self: center;
}
.intro article p {
  font-size: 2rem;
  align-self: flex-start;
}
.creator {
  padding: 2rem 0rem;
  display: flex;
}
.creatorName {
  padding: 0rem 1rem;
  font-size: 2rem;
}
.creatorName div {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(156, 156, 156);
}
.creator img {
  height: 5vh;
  width: auto;
  border-radius: 50%;
}
